body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}


button {
    padding: 10px;
    background: #28a745;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#results {
    margin-top: 20px;
}

.movie {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.movie img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
}

.movie h3 {
    margin: 0;
}